.App {
  text-align: center;
}

.topbar{
background-color: lightblue;
display: flex;
flex-direction: row;
}

.table{
  border-radius: 10;
  border-width: 10;
}

.navbar{
  background-color: lightcyan;
  display: flex;
  flex-direction: column;
  width: 50;
  height: 40;
  justify-content: space-between;
  margin:10;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
